/*********Paging css*******/
ul.tsc_pagination { margin:4px 0; padding:0px; overflow:hidden; font: 400 12px 'PT Sans Narrow', sans-serif; list-style-type:none; text-transform: uppercase; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li:first-child { margin-left:0px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_pagination li a img { border:none; }
ul.tsc_paginationC li a { color:#fff; background:#4b99e6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  padding:5px 10px; }
ul.tsc_paginationC li { padding-bottom:1px; }
ul.tsc_paginationC li a:hover,
ul.tsc_paginationC li a.current { color:#FFFFFF; background: #2B5FA0; color:#fff;   }
ul.tsc_paginationC01 li a:hover,
ul.tsc_paginationC01 li a.current { color:#fff;  }
ul.tsc_paginationC li a.In-active {
    pointer-events: none;
    cursor: default;
}