/*@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+1F00-1FFF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+0370-03FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+0102-0103, U+1EA0-1EF1, U+20AB
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
unicode-range:U+1F00-1FFF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
unicode-range:U+0370-03FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
unicode-range:U+0102-0103, U+1EA0-1EF1, U+20AB
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
unicode-range:U+1F00-1FFF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
unicode-range:U+0370-03FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
unicode-range:U+0102-0103, U+1EA0-1EF1, U+20AB
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
unicode-range:U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
unicode-range:U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700);*/
.theam_color {
	color: #f79411;
}
.text_white {
	color: #fff;
}
img {
	border: 0px;
}
body {
	background: #fafafa;
	font-family: 'Open Sans';
}
.body_container {
	margin: 0px 2.5%;
}
.body_bg {
	background: url(../images/body_bg.jpg) no-repeat top center;
	background-size: cover;
	width: 100%;
	height: auto;
	box-shadow: 0 0 25px #9e9e9e;
	-moz-box-shadow: 0 0 25px #9e9e9e;
	-o-box-shadow: 0 0 25px #9e9e9e;
	-ms-box-shadow: 0 0 25px #9e9e9e;
	-webkit-box-shadow: 0 0 25px #9e9e9e;
}
.inner_bg {
	background: url(../images/inner_header_bg.jpg) repeat-x center 0;
}
.navbar-brand {
	height: 100%;
}
/******* Adding font style ***********
@font-face {
	font-family: 'neo_sanslight';
	src: url('../css/font/neo_sans_light-webfont.eot');
	src: url('../css/font/neo_sans_light-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/font/neo_sans_light-webfont.woff2') format('woff2'),  url('../css/font/neo_sans_light-webfont.woff') format('woff'),  url('../css/font/neo_sans_light-webfont.ttf') format('truetype'),  url('../css/font/neo_sans_light-webfont.svg#neo_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'neo_sansbold';
	src: url('../css/font/neo_sans_bold-webfont.eot');
	src: url('../css/font/neo_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/font/neo_sans_bold-webfont.woff2') format('woff2'),  url('../css/font/neo_sans_bold-webfont.woff') format('woff'),  url('../css/font/neo_sans_bold-webfont.ttf') format('truetype'),  url('../css/font/neo_sans_bold-webfont.svg#neo_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Neo Sans";
	src: url('../css/font/281280518-neo_sans.eot');
	src: url('../css/font/281280518-neo_sans.eot?#iefix') format('embedded-opentype'),  url('../css/font/281280518-neo_sans.svg#Neo Sans') format('svg'),  url('../css/font/281280518-neo_sans.woff') format('woff'),  url('../css/font/281280518-neo_sans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
****** default css codo STARTS************/

#supwebsite {
	margin: 0px 14px 0px 0px;
}
.td_suplier {
	padding-top: 6px;
}
.pdding_none {
	padding: 0px;
}
.padding_left {
	padding-left: 0px;
}
.padding_right {
	padding-right: 0px !important;
}
.margin_bottom {
	margin-bottom: 0px;
}
.nav_padding {
	padding: 5px 0px 0px 0px;
}
.margin {
	margin: 0px;
}
.background_none {
	background: none !important;
}
.row_col {
	margin: 0px 1.8% !important;
}
.hedding_tow {
	font-weight: 700;
	color: #042e6f;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	padding: 20px 0px 10px 0px;
}
.hedding_three {
	font-weight: 700;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0px 0px 5px 0px;
	margin: 0px;
}
.pdding_right p {
	line-height: 16px;
}
.espesar {
	margin: 19px 0px;
	float: left;
	width: 100%;
}
/****** default css codo END ************/

/*HEADER CODE START HERE*/
header {
	display: block;
	background: url(img/header_top_bg.jpg) repeat center 0;
	height: auto;
	min-height: 88px;
}
header .become_producer_header {
	display: block;
	background: url(img/become_producer_header.jpg) repeat center 0;
	height: auto;
	min-height: 88px;
}
header .how_it_work_header {
	display: block;
	background: url(img/howt_it_work_header.jpg) repeat center 0;
	height: auto;
	min-height: 88px;
}
.orange_header {
	width: 1024px;
	min-height: 50px;
	margin: auto;
	padding: 25px 0px 0px;
}
.orange_header .logo {
	float: left;
	width: 220px;
}
.logo {
	margin-top: 30px;
}
.orange_header .nav_panel {
	float: right;
	width: 780px;
	margin-top: 15px;
}
.nav_panel_button {
	min-height: 25px;
	float: left;
}
.nav_panel_button ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nav_panel_button ul li {
	margin: 0px;
	padding: 0px;
	display: inline;
}
.nav_panel_button ul li a {
	margin: 0px;
	padding: 5px 20px;
	display: block;
	float: left;
	font-size: 15px;
	background: url(img/button_right_icons.png) no-repeat right center;
	color: #fff;
	text-decoration: none;
}
.nav_panel_button ul li a:hover, .nav_panel_button ul li a.for_active {
	color: #fdc21a;
	background: url(img/button_right_icons_hover.png) no-repeat right center;
}
.nav_panel_login {
	float: right;
	margin-top: 5px;
}
.nav_panel_login a {
	background: #f79411;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.nav_panel_login a:hover {
	background: #ff9c20;
}
.review_colapse {
	background: none!important;
	border: none!important;
}
.review_li {
	margin: 0px;
	padding: 0px;
}
.review_li li {
	list-style-type: none;
	float: left;
}
.review_li li a {
	text-decoration: none;
	color: #000!important;
	padding: 4px 15px!important;
}
.review_li li a .last {
	border: 1px solid #fff!important;
}
.revlast {
	border: none!important;
}
.navbar-default .navbar-nav > li > a .last {
	border: none;
	border-right: none;
	border-left: none;
}
.revinav_cain {
	background: none!important;
	border: none!important;
	overflow: visible!important;
}
.or_navig {
	z-index: 9999!important;
	position: relative;
	top: 0px;
}
.revcearch {
	position: relative;
	top: 0px;
	z-index: 9999;
	padding-right: 3%;
}
.stage {
	position: relative;
	top: 0px;
}
.review_li li.active a {
	background: none !important;
}
.registration_container {
	background: #fff;
	border: 1px solid #e5e6e7;
	border-radius: 6px;
	margin: 5% 0px 6%;
	padding: 28px 46px 20px;
}
.input_fild {
	background: #fafafa;
	height: 53px;
	margin: 8px 0px;
	border: 1px solid #eaedef;
	box-shadow: none;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: none !important;
}
a:focus {
	outline: none;
}
/* TOP SIGNIN CSS STARTS------------------------*/
.top_search {
	margin-right: 35px;
}
.search_box {
	border-radius: 5px 0px 0px 5px !important;
	height: 28px;
	width: 88% !important;
	font-size: 13px;
}
.search_icon {
	border: none;
	border-radius: 0px 5px 5px 0px !important;
	height: 28px;
	border-right: 1px solid #ccc;
	padding: 6px 2px;
	background: #f15922;
	color: #fff;
}
.zoom {
	color: #FFFFFF;
}
.search_padding {
	padding: 5px 0px 0px;
}
.signin_col {
	padding: 6px 0 0 30px;
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
}
.signin_col:hover, .signin_col:focus {
	color: #000000;
	text-decoration: none;
}
.text_p {
	color: #0e0e0e;
	font-family: 'Open Sans';
	font-size: 12px;
	padding: 7px 0px 0px 0px;
	margin: 0px;
}
.text_p a {
	color: #00417d;
	text-decoration: underline;
}
.text_p a:hover {
	text-decoration: none;
}
/* TOP SIGNIN CSS ENDS------------------------*/


/*top navbor css------------------*/
.navbar-nav li { /**background:url(../images/top_nav_border.png) no-repeat right center;**/
	margin-top: 10px;
}
.navbar-nav li a {
	color: #042E6F;
	font-size: 13px;
	font-family:'Open Sans', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-nav li a:hover {
	background: none;
}
.navbar-nav li.last {
	background: none;
}
.navbar-nav li.last a {
	padding-right: 0px !important;
}
/*top slider bar css-----------------*/
.slider_container {
	background: #fff;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-o-border-radius: 16px;
	-ms-border-radius: 16px;
	-webkit-border-radius: 16px;
	margin: 0px 22px 40px 22px;
	box-shadow: 0 0px 1px #878787;
	-moz-box-shadow: 0 0px 1px #878787;
	-ms-box-shadow: 0 0px 1px #878787;
	-o-box-shadow: 0 0px 1px #878787;
	-webkit-box-shadow: 0 0px 1px #878787;
	padding: 20px 30px 1.8%;
	overflow: hidden;
}
.theme_color {
	color: #042e6f;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-top: 10px;
	padding: 0px 0px 20px 0px;
	font-weight: 700;
}
.theme_color_inner {
	color: #3c3c3c;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin-bottom: 0px;
	margin-left: -2px;
	padding: 0px 0px 8px 0px;
}
.p_text {
	padding: 0px 0px 14px 15px;
	color: #737380;
}
.label_text {
	color: #042E6F;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
}
.btn_search {
	background: none repeat scroll 0 0 #F15922;
	border-radius: 4px;
	box-shadow: 0 1px 2px #8C8C8C;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 8%;
	margin-top: 29px;
	padding-left: 8%;
	padding-right: 8%;
	text-transform: uppercase;
}
.inner_btn {
	background: #f15922;
	border-radius: 4px;
	box-shadow: 0 1px 2px #8c8c8c;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 29px;
	margin-bottom: 8%;
}
span.abuse_div a.inner_btn {
	background: #f15922;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2% 4%;
	margin-top: 0px;
	float: left;
	margin-bottom: 8%;
}
.btn_search_in {
	background: url(../images/search_header_login_bg.png) repeat-x 0px 0px;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8%;
	margin-top: 29px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	color: #ffffff;
	outline: medium none !important;
}
.btn_search_in:focus {
	background: url(../images/search_header_login_bg.png) repeat-x 0px 0px !important;
}
.btn_search_in:active, .btn_search_in.active {
	background: url(../images/search_header_login_bg.png) repeat-x 0px 0px;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8%;
	margin-top: 29px;
	padding-left: 40px;
	padding-right: 40px;
	text-transform: uppercase;
	color: #ffffff;
	outline: medium none !important;
}
.search_padding_left {
	padding-left: 0px;
}
.search_header {
	background: url(../images/search_header_bg.png) repeat-x 0px 0px;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8%;
	margin-top: 29px;
	padding-left: 54px;
	padding-right: 54px;
	text-transform: uppercase;
	color: #ffffff;
	outline: medium none !important;
}
.search_header:active, .search_header.active {
	background: url(../images/search_header_bg.png) repeat-x 0px 0px;
	border-radius: 6px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8%;
	margin-top: 29px;
	padding-left: 54px;
	padding-right: 54px;
	text-transform: uppercase;
	color: #ffffff;
	outline: medium none !important;
}
.search_header:focus {
	background: url(../images/search_header_bg.png) repeat-x 0px 0px !important;
}
.pull-left-header {
	float: left;
}
.pull-right-header {
	float: right
}
.btn_search:hover {
	background: #f15922;
}
.center_slider {
	margin-left: 23%;
	width: 52%;
	margin-left: 30%;
	margin-top: 4%;
}
.left_arrow {
	top: 50%;
	text-shadow: none;
	opacity: 1.0;
	left: 45px !important;
}
.left_arrow i {
	font-size: 50px;
	color: #a5a5a5;
}
.right_arrow {
	top: 50%;
	opacity: 1.0;
	text-shadow: none;
	right: -28px !important;
}
.right_arrow i {
	font-size: 50px;
	color: #a5a5a5;
}
.slider_bg_main {
	width: 100%;
	height: 100%;
}
.slider_bg_main img {
	width: 66.3%;
}
.slider_offer_bg {
	left: 27%;
	position: absolute;
	top: -5%;
	z-index: 999999999;
	width: 35%;
}
.slider_offer_bg img {
	width: 66.3%;
}
/**** RIGHT CSS STARTS ----------------*/
.right_nav {
	width: 95%;
}
.right_nav li {
	border-bottom: 1px solid #ececec;
	margin: 10px 0px;
	padding-bottom: 5px;
}
.right_nav li a {
	padding: 0px 0px 0px 12px;
	font-size: 13px;
	color: #ff6600;
	font-family: 'Open Sans';
}
.right_nav li.last {
	border: none;
}
.viewall {
	width: 100%;
	text-align: right;
	margin: 20px 0px 40px;
}
.viewall a {
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans';
	text-decoration: underline;
}
.viewall a:hover {
	color: #ff6600;
	text-decoration: none;
}
/**** LOGIN LEFT BOX CSS STARTS ----------------*/
.login_left_box {
	padding: 30px 29px;
}
.login_left_box p {
	color: #737380;
	font-family: 'Open Sans';
	line-height: 19px;
	font-size: 13px;
	padding: 0px 0px 6px;
}
.login_left_box h3.hedding_three {
	color: #2e2e2e;
	font-family: 'Open Sans';
	font-size: 18px;
	padding: 20px 0px 18px;
	font-weight: normal;
}
/**** RIGHT BOX CSS STARTS ----------------*/
.login_right_box {
	background: #fff;
	box-shadow: 0px 0px 5px #dcdbdb inset;
	border: 1px solid #e5e6e7;
	padding: 25px 25px 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.login_right_box .login_account {
	background: #e2e2e2 url(../images/login_account_icon.png) no-repeat 8px 8px;
	color: #282828;
	font-family: 'Open Sans';
	font-size: 22px;
	padding: 20px 0px 18px 65px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 30px;
}
.chechbox_text span {
	color: #737380;
	font-family: 'Open Sans';
	font-size: 13px;
	padding: 0px 0px 0px 0px;
	float: left;
	margin-top: -3px;
}
.chechbox_text input.chechbox_remember {
	float: left;
	margin: 0 10px 0 0;
}
.forgot_password {
	color: #3885ce;
	font-family: 'Open Sans';
	font-size: 13px;
	padding: 0px 0px 0px 0px;
	margin-top: -3px;
}
.or_divider img {
	padding: 31px 4px;
	display: inline;
}
.or_divider {
	float: left;
	width: 100%;
	text-align: center;
}
/*** NAVBAR TOGGLE CSS STARTS --------------------*/
.navbar-default .navbar-toggle {
	border-color: #101010;
}
.navbar-toggle {
	background: #101010;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #050505;
}
/** SUPPLIER ACCOUNT PAGE CSS STARTS --------------------*/
.account_container {
	padding: 40px;
}
.widget {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 45px 15px;
}
.widget i.fa {
	font-size: 78px;
}
.account-bg {
	background-color: #05869b;
	color: #ffffff;
}
.payment-bg {
	background-color: #79b900;
	color: #ffffff;
}
.order-bg {
	background-color: #246cdb;
	color: #ffffff;
}
.ad-booking-bg {
	background-color: #d34f2d;
	color: #ffffff;
}
.gallery-manager-bg {
	background-color: #bc3dfd;
	color: #ffffff;
}
.feedback-center-bg {
	background-color: #9c9306;
	color: #ffffff;
}
.artwork-manager-bg {
	background-color: #058918;
	color: #ffffff;
}
.product-listing-bg {
	background-color: #7929fe;
	color: #ffffff;
}
.widget span {
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 18px;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
	font-size: 14px;
	color: #101010;
	font-family: 'Open Sans';
}
.footer .col-md-2 {
	width: 18.666%;
}
.footer .col-lg-4 {
	width: 31%
}
/** DASHBOARD CSS STARTS --------------------*/
.hedding_main {
	color: #383838;
	font-size: 18px;
	margin: 0px 0px 0px;
	padding: 2% 0 5px;
	width: 100%;
	font-family: 'Open Sans';
	font-weight: 700;
}
.dashboard_container {
	width: 100%;
	height: auto;
	margin: 4% 0px 6%;
	padding: 0px;
	position: relative;
	background: #fff;
	border: 1px solid #e6e6e6;
	float: left;
}
/** DASHBOARD LEFT CSS STARTS --------------------*/
.page-sidebar-fixed .sidebar {
	position: fixed;
}
.sidebar {
	background: #f1f1f1;
	bottom: 0;
	left: 0;
	padding: 10px 0px 50% 0px;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10;
}
.sidebar .nav > li.nav-profile {
	background: #2e3235;
	color: #fff;
	padding: 20px;
}
.sidebar .nav > li:after, .sidebar .nav > li:before, .sidebar .nav > li > a:after, .sidebar .nav > li > a:before {
	clear: both;
	content: "";
	display: table;
}
.sidebar .nav > li.nav-header {
	color: #6d7983;
	font-size: 11px;
	line-height: 20px;
	margin: 0;
	padding: 10px 20px;
}
.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover {
	background: #f25822;
	color: #fff;
}
.sidebar .nav > li.has-sub a i.fa {
	font-size: 25px;
	float: left;
}
.sidebar .nav > li.has-sub a span {
	padding-left: 10px
}
.sidebar .nav > li > a {
	color: #4a4949;
	font-family: 'Open Sans';
	font-size: 15px;
	line-height: 20px;
	padding: 12px 20px;
	margin: 8px 0px;
	outline: none;
}
.sidebar .nav > li.has-sub > a:hover {
	background: #f25822 !important;
	color: #fff;
}
.sidebar .nav > li > a .caret {
	float: right;
	margin-top: 9px;
}
/** DASHBOARD RIGHT CSS STARTS --------------------*/
.dashboard_right_col {
	margin: 5% 0;
}
.dashboard_right_col h2.hedding_h2 {
	color: #f25822;
	font-size: 22px;
	margin: 0px 0px 0px;
	padding: 0px 0px 3%;
	float: left;
	width: 100%;
}
.dashboard_right_col h2.hedding_h2 i.fa {
	font-size: 45px;
	float: left;
}
.dashboard_right_col h2.hedding_h2 span {
	float: left;
	padding: 1% 0px 0px 2%;
}
.dashboard_right_col .left_td {
	color: #000000;
	font-family: 'Open Sans';
	font-size: 15px;
}
.dashboard_right_col .right_td {
	color: #a1a0a6;
	font-family: 'Open Sans';
	font-size: 15px;
}
.dashboard_right_col .pull_left_bg {
	padding: 2% 0% 10%;
	border-right: 1px solid #E0DFDF;
}
.dashboard_right_col .pull_right_bg {
	padding: 2% 12%;
}
.dashboard_right_col .pull_left_bg h3.hedding_h3 {
	margin-bottom: 5px;
	text-align: center;
	color: #555555;
	font-size: 18px;
	font-weight: 700;
}
.dashboard_right_col .pull_left_bg p.p_text {
	margin-bottom: 0px;
	text-align: center;
	color: #555555;
}
.dashboard_right_col .pull_left_bg form.form_payment label span {
	color: #555555;
	font-family: 'Open Sans';
	font-size: 14px;
	padding-left: 10px;
}
.dashboard_right_col .pull_left_bg form.form_payment .row_control {
	margin: 8% 17%;
	text-align: center;
}
.dashboard_right_col .pull_left_bg form.form_payment .row_control select.select_option {
	background: #fafafa;
	border: 1px solid #e9edf0;
	color: #555555;
	font-family: 'Open Sans';
	font-size: 14px;
	border-radius: 0px;
	box-shadow: none;
	margin: 8px 0px;
	height: 45px;
}
.dashboard_right_col .pull_left_bg form.form_payment .row_control button.select_option {
	background: #fafafa;
	border: 1px solid #e9edf0;
	color: #555555;
	font-family: 'Open Sans';
	font-size: 14px;
	border-radius: 0px;
	box-shadow: none;
	margin: 8px 0px;
	height: 45px;
}
.input_fild_1 {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	margin: 8px 0;
	padding: 10px 10px;
}
.input_fild_img_browse {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	margin: 8px 0;
	padding: 10px 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: none;
}
/*PAYMENT CSS STARTS-------------------------*/ 
.dashboard_right_col .payment_col {
	padding: 15px 0px;
}
.dashboard_right_col .pull_left_bg h3.payment_h3 {
	font-size: 15px;
	color: #555454;
	padding-top: 10%;
}
.dashboard_right_col .pull_left_bg form.payment_col2 {
	padding: 2% 0;
	width: 100%;
}
.dashboard_right_col .pull_left_bg form.payment_col2 label.checkbox-inline {
	padding: 0px;
	margin: 0px;
}
.dashboard_right_col .pull_left_bg form.payment_col2 label.input_radio {
	width: 100%;
	margin-top: 45%;
}
.dashboard_right_col .pull_left_bg form.form_payment label.label_text {
	color: #9a9ead;
	font-size: 13px;
	font-family: 'Open Sans';
	margin-bottom: 0px;
}
.select_option_1 {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	margin: 8px 10px 0px 0px;
	padding: 8px 10px;
	color: #5f5f61;
	font-size: 14px;
	font-family: 'Open Sans';
}
.select_option_2 {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	margin: 8px 10px 0px 0px;
	padding: 8px 10px;
	width: 150px;
	color: #5f5f61;
	font-size: 14px;
	font-family: 'Open Sans';
}
.input_fild_2 {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 45px;
	margin: 8px 0;
	padding: 8px 10px;
	width: 140px;
}
.total_price {
	text-align: center;
	color: #595959;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	padding: 7px;
	margin-right: 20px;
	float: left;
}
.btn_pay {
	margin-top: 0px;
}
.total_bg {
	float: left;
	width: 100%;
	padding: 5% 0px 0px 30%;
}
/*ARTICLES CSS STARTS-------------------------*/ 
.articles_container {
	margin: 0px 1.8% !important;
}
.container_wrapper {
	background: #fff;
	border: 1px solid #e5e6e7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0% 0 6%;
	padding: 22px 22px 22px 49px;
}
.posted_col {
	float: left;
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 2%;
	padding-bottom: 2%;
}
.posted_col h2.col_h2 {
	margin: 0px;
	color: #1a1919;
	font-size: 22px;
	font-family: 'Open Sans';
	padding: 0 0 3px 1.5%;
}
.posted_col .posted {
	padding: 0 0 1% 1.5%;
	color: #1a1919;
	font-size: 13px;
	font-family: 'Open Sans';
}
.posted_col .posted span {
	color: #545454;
}
.posted_col .posted a {
	color: #f15922;
	text-decoration: none;
}
.posted_col .posted a:hover {
	text-decoration: underline;
}
.posted_col p.p_text {
	color: #414040;
	font-size: 15px;
	line-height: 26px;
	padding-bottom: 0px;
}
.posted_col .img_post img {
	border: 1px solid #cdcccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 100%;
}
.posted_col a.readmore {
	color: #666666;
	font-size: 13px;
	font-family: 'Open Sans';
}
.pagination li.page {
	float: left;
	padding: 10px 15px 0px 0px;
}
.pagination_nav > li > a, .pagination > li > span {
	padding: 10px 19px;
	color: #252424;
}
.pagination_nav > li.active a {
	border: 1px solid #f15922;
	background: #f15922;
}
.pagination_nav > li.active a:hover {
	border: 1px solid #f15922;
	background: #f15922;
}
/*ARTICLES SINGLE CSS STARTS-------------------------*/ 
.article_leftbg {
	background: #fff;
	border: 1px solid #e5e6e7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0% 0 6%;
	padding: 22px;
}
.posted_col .media .img_post {
	margin-right: 22px;
}
.posted_col .media .img_post img {
	width: 100%;
}
/*COMMUNITY QUESTION ANSWER LISTING CSS STARTS-------------------------*/
.community_wrapper {
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 6%;
	padding: 0;
	border: 1px solid #e5e6e7;
}
.community_wrapper .list-group-item {
	padding: 0px 15px;
}
.community_wrapper .list-group-item .item_community {
	padding: 10px 15px;
	border-right: 1px solid #d3d3d3;
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans';
}
.community_wrapper .list-group-item .item_community_header {
	padding: 10px 15px;
	border-right: 1px solid #d3d3d3;
	color: #fff;
	font-size: 17px;
	font-family: 'Open Sans';
}
.community_wrapper .list-group-item .item_community_header.last {
	border: none;
}
.community_wrapper .list-group-item .item_community.last {
	border: none;
}
.community_wrapper .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #f15922;
	border-color: #f15922;
	color: #fff;
}
.navbar-single {
	float: left;
	width: 100%;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	margin: 15px 0px;
	padding: 0px;
}
.navbar-single li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 6px 10px;
	color: #000000;
	font-size: 13px;
	font-family: 'Open Sans';
	background: url(../images/border_community.jpg) no-repeat right center;
}
.navbar-single li.last {
	background: none;
}
.comment_box {
	padding: 0px 0px 4% 0px;
}
.comment_box h3.hedding_h3 {
	margin: 0px 0px 0px;
	font-size: 21px;
	font-family: 'Open Sans';
	font-style: italic;
	color: #414040;
}
h4.comment_h4 {
	margin: 2% 0px 2%;
	font-size: 19px;
	font-family: 'Open Sans';
	color: #414040;
}
h1.comment_h1 {
	margin: 3% 0px 4%;
	font-family: 'Open Sans';
	color: #414040;
}
.comment_box span {
	margin: 0px;
	font-size: 13px;
	font-family: 'Open Sans';
	font-style: italic;
	color: #414040;
}
.comment_box p.comment_p {
	margin: 3% 0px 0px;
	font-size: 16px;
	font-family: 'Open Sans';
	color: #414040;
}
.post_mail {
	background: #fafafa;
	min-height: 206px;
}
.comment_btn {
	font-size: 18px;
	padding-left: 3%;
	padding-right: 3%;
	height: 50px;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	background-color: #f15922;
	border-color: #ac2925;
	color: #fff;
}
/*SEARCH HOME CSS STARTS-------------------------*/ 
.search_wrapper {
	margin: 2% 0 0%;
	padding: 22px;
}
.input_fild {
	background: #fafafa;
	border: 1px solid #eaedef;
	box-shadow: none;
	height: 53px;
	margin: 8px 0;
}
.container_search {
	background: #fff;
	border: 1px solid #e5e6e7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0% 0 0%;
	padding: 0px;
}
.tab_container {
	padding: 22px 22px 22px 48px;
	border-top: 1px solid #d3d7da;
	position: relative;
	z-index: 99;
	margin-top: -1px;
}
ul.tab_navbar {
	border: none;
	position: relative;
}
.nav-tabs > li > a {
	border: none;
	position: relative;
}
ul.tab_navbar li {
	float: left;
	position: relative;
}
ul.tab_navbar li a {
	padding: 22px 65px;
	margin: 0px;
	border-right: 1px solid #d3d7da;
	border-radius: 0px;
	color: #1a1919;
	font-size: 18px;
	font-family: 'Open Sans';
}
ul.tab_navbar > li > a:hover, ul.tab_navbar > li > a:focus {
	background: #fff !important;
	color: #f15922;
}
ul.tab_navbar > li > a:hover {
	background: #fff !important;
	padding: 22px 65px;
}
ul.tab_navbar li.active a {
	padding: 22px 65px 23px;
	border-right: 1px solid #d3d7da;
	border-radius: 0px;
	color: #f15922;
	font-size: 18px;
	font-family: 'Open Sans';
	background: #fff;
}
.tab_posted h2.col_h2 {
	margin-left: 0px;
	padding-left: 0px;
}
.tab_posted .posted {
	padding-left: 0px;
}
.tab_posted .posted span {
	color: #a3a1a1;
}
.tab_posted p.p_text {
	padding-left: 0px;
	line-height: 22px;
	padding-top: 10px;
}
.displaying {
	background: #f1f1f1;
	padding: 10px;
	margin-bottom: 15px;
}
.displaying .display_results {
	color: #3a3939;
	font-family: 'Open Sans';
	padding: 8px 0 0 10px;
}
.displaying label.display_results {
	color: #3a3939;
	font-family: 'Open Sans';
	padding: 8px 0 0 10px;
	font-size: 14px;
}
.article_innerbg .right_box {
	padding: 18% 0 0 0;
	width: 100%;
}
.article_innerbg .right_box .col_1 {
	height: auto;
	margin-bottom: 5%;
}
.form_group_bg {
	margin: 9% 0 5% 0;
	float: right;
}
.form_group_bg a {
	padding: 10px 0 0 !important;
	float: right;
	border-right: none !important;
}
ul.tab_navbar > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #f15922;
}
.nav > li.sub_nav > a:hover, .nav > li.sub_nav > a:focus {
	background: #f25822 !important;
	color: #fff;
}
/*AD BOOKING MANAGER CSS STARTS-------------------------*/ 
.list_container .label_list {
	color: #555454;
	font-family: 'Open Sans';
	padding-top: 20px;
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
}
.browse_btn {
	background: #8c8c8c;
	border-radius: 0px;
	box-shadow: none;
	font-family: "Open Sans";
	font-size: 18px;
	margin-top: 8px;
	padding: 9px 13%;
	text-transform: uppercase;
	border: none;
}
.table_bord th span {
	color: #555454;
	font-family: 'Open Sans';
	font-size: 18px;
}
/*FEEDBOACK CENTER CSS STARTS-------------------------*/ 
.table_bord > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 16px;
}
.table_bord > thead > tr > th.th_text {
	color: #383838;
	font-family: "Open Sans";
	font-size: 17px;
	text-align: center;
	font-weight: normal;
}
.table_bord > thead > tr > td, i.star {
	color: #f15922 !important;
}
.table_bord > thead > tr > td, i.fa-star {
	color: #ccc;
}
/*GALLERY MANAGER CSS STARTS-------------------------*/
.table_view {
	border-right: none !important;
}
.table_view a {
	color: #383838;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: normal;
	background: url(../images/gallery_border.png) no-repeat right center;
	padding: 0 13px 0 8px;
}
.table_view a:hover {
	color: #f15922;
}
.table_view a.last {
	background: none;
}
.gallery_bord {
	border: none;
	border-top: none !important;
}
.gallery_bord > thead > tr > th.th_text {
	color: #383838;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	border: none;
}
/*CUSTOMER REGISTRATION CSS STARTS-------------------------*/
.or_bg {
	background: #424141;
	overflow: hidden;
	border-radius: 0px 0px 4px 4px;
	padding: 5% 30%;
}
.top_orbg {
	background: url(../images/or_bg.png) no-repeat top center;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 10px 0px;
	height: 35px;
	font-size: 24px;
	font-family: "Open Sans";
	margin-top: 5%;
}
.customer_registration {
	margin: 0 0 6%;
	padding: 28px 110px 20px;
	float: left;
}
.or_bg a img {
	display: inherit;
}
/**** CUSTOMER LOGIN CSS STARTS ----------------*/
.customer_login {
	background: #e2e2e2 url(../images/login_account_icon.png) no-repeat 8px 9px;
	color: #282828;
	font-family: 'Open Sans';
	font-size: 22px;
	padding: 20px 0px 18px 65px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 30px;
}
.customer_orbg {
	margin: 0 5%;
	float: left;
}
.customer_loginbg {
	padding: 28px 50px 20px;
}
/****UPDATE CSS STARTS ----------------*/
button.search_btn_img {
	width: 10%;
	cursor: pointer;
	float: left;
}
.input_fild_details {
	border: 1px solid #E7EAEC;
	color: #909092;
	box-shadow: none;
	height: 45px;
	margin: 8px 0;
	padding: 10px 10px;
}
.discription_fild {
	border: 1px solid #E7EAEC;
	color: #909092;
	box-shadow: none;
	min-height: 120px;
	height: auto;
	margin: 8px 0;
	padding: 10px 10px;
}
.marquee {
	visibility: visible !important;
	width: 100%;
	margin: 30px 0px 0px 1.2%;
}
.marquee li {
	padding: 0px;
	margin: 0px 18px;
	float: left;
	list-style: none;
}
.marquee li a {
	padding: 0px 10px;
	margin: 0px;
}
/*NEW CSS ADD 14/11/2014*/


.cf4a {
	height: auto;
	margin: 0px;
	position: absolute;
	width: 100%;
	top: 7.7%;
	left: 16.9%;
}
.cf4a img {
	left: 0;
	position: absolute;
}
/*.cf4a img {animation-duration:20s;
    animation-iteration-count: infinite; 
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
}
.cf4a img:nth-of-type(1) {animation-delay:20s;}
.cf4a img:nth-of-type(2) {animation-delay:15s;}
.cf4a img:nth-of-type(3) {animation-delay: 10s;}
.cf4a img:nth-of-type(4) {animation-delay: 5s;}*/


.rslides {
	list-style: none;
	width: 100%;
	padding: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	list-style: none;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: auto;
	max-width: 100%;
	border: 0;
}
.slider_bg_main {
	height: 100%;
	position: relative;
	width: 100%;
}
.slider_bg_main img {
	width: auto;
}
.new_speceing {
	padding: 0px 0px 0px 7%;
}
/****** BODY CSS CODE ENDS ************/

/****** FOOTER CSS STARTS ******/
.footer_bg {
	background: #042e6f;
	color: #fff;
	width: 100%;
	float: left;
	box-shadow: 0 0 25px #3d3d3d;
	-moz-box-shadow: 0 0 25px #3d3d3d;
	-o-box-shadow: 0 0 25px #3d3d3d;
	-ms-box-shadow: 0 0 25px #3d3d3d;
	-webkit-box-shadow: 0 0 25px #3d3d3d;
}
.footer {
	padding: 43px 0px 0px 0px;
}
.footer p {
	font-size: 18px;
	color: #b2b2b2;
	font-family: 'Open Sans';
}
.footer_row2 {
	color: #b2b2b2;
	font-family: 'Open Sans';
	height: 229px;
	width: auto;
	float: left;
}
.footer_row p {
	border-bottom: 1px solid #144289;
	width: auto;
	margin: 0px;
	padding: 32px 0px 11px 0px;
	font-size: 14px;
	font-family: 'Open Sans';
	color: #b2b2b2;
	text-transform: uppercase;
}
.footer_row2 p {
	border-bottom: 1px solid #144289;
	width: 100%;
	margin: 0px;
	padding: 32px 0px 11px 0px;
	font-size: 14px;
	font-family: 'Open Sans';
	color: #b2b2b2;
}
.footer_row .footr_rowleft {
	float: left;
	width: 150px;
	margin-top: 10px;
}
.footer_row .footr_rowleft a {
	text-decoration: none;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'Open Sans';
	float: left;
	width: 100%;
}
.footer_row .footr_rowright {
	float: left;
	margin-top: 10px;
	width: 100px;
}
.footer_row .footr_rowright a {
	text-decoration: none;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'Open Sans';
	float: left;
	width: 100%;
}
.footer_row2 .footr_rowleft {
	float: left;
	width: 14%;
	padding-right: 0%;
	margin-top: 10px;
}
.footer_row2 .footr_rowleft a {
	text-decoration: none;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'Open Sans';
	float: left;
	width: 100%;
}
.footer_row2 .footr_rowright {
	float: left;
	margin-top: 10px;
	width: 100px;
}
.footer_row2 .footr_rowright a {
	width: 100%;
	text-decoration: none;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'Open Sans';
}
p.copyright {
	border-top: 1px solid #144289;
	padding: 10px 0px 20px 0px;
	margin-top: 3%;
	text-align: center;
	font-size: 13px;
	font-family: 'Open Sans';
}
.footer_row .footr_rowleft.footer_rest {
	float: left;
	width: 22%;
	padding-right: 0%;
	margin-top: 10px;
}
.navbar-collapse.in {
	overflow: hidden;
}
.navbar-collapse {
	border-top: none;
	box-shadow: none;
}
/****** Compare version start************/
.font_bold {
	font-weight: bold;
}
.bg_theam {
	background: #e4edf6;
}
.overflow_auto {
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
.padding_all {
	padding: 20px!important;
}
/****** Compare version end************/
/******.slider_container{margin-bottom:100px;}**/   
img#refresh-captcha {
	width: auto;
}
.list_container .from_lable {
	padding-left: 0px;
}
.list_container .to_lable {
	padding-left: 0px;
}
 @media (min-width:991px) and (max-width:1199px) {
.btn_search_in {
	padding-left: 18px;
	padding-right: 18px;
}
.search_header {
	padding-left: 35px;
	padding-right: 35px;
}
}
 @media (min-width:800px) and (max-width:1280px) {
.table_responsive_new {
	width: 100%!important;
	overflow-x: auto!important;
	overflow-y: hidden!important;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
}
 @media (max-width:1024px) {
.padding_left_col {
	padding-left: 0px !important;
}
.cf4a {
	left: 15%;
}
}
@media (min-width:768px) and (max-width:1024px) {
.search_padding {
	padding: 35px 0 0 !important;
}
.margin_left_125 {
	width: 85%!important;
}
.table_responsive_new {
	width: 100% !important;
	overflow-x: auto !important;
	overflow-y: hidden !important;
}
.dashboard_right_col .scroll {
	overflow: scroll;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
.duration {
	text-align: left;
}
.cf4a {
	left: 15%;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
}
@media (min-width:800px) and (max-width:1024px) {
.registration_container {
	padding: 10px 8px;
}
.customer_registration {
	padding: 10px 8px;
}
.review_li {
	padding: 10px 0 0;
}
.navbar-header {
	float: right;
}
.navbar-nav li a {
	padding-left: 13px;
	padding-right: 13px;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: +5;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.or_bg {
	padding: 5% 22%;
}
.cf4a {
	left: 15%;
}
}
@media (min-width:800px) and (max-width:1279px) {
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: +5;
}
.slider_container {
	margin-bottom: 100px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.cf4a {
	left: 17%;
	width: 79%;
}
}
 @media (min-width:991px) and (max-width:1200px) {
.carousel-inner.text-center.center_slider .item .img_height_ctn {
	height: 250px !important;
}
.cf4a {
	left: 12.5%;
	width: 79%;
}
}
 @media (min-width:768px) and (max-width:992px) {
.carousel-inner.text-center.center_slider .item .img_height_ctn {
	height: 319px !important;
}
.slider_bg_main {
	top: 0% !important;
	left: 0%;
}
.center_slider {
	margin-left: 24%;
}
.right_arrow {
	right: 0px !important;
}
.left_arrow {
	left: 0px !important;
}
.pull_rb {
	margin: 20px 0px 60px;
}
.list_container .form-group .col-sm-offset-2 {
	margin: 0px;
}
.head_search .pull-left-header {
	float: none;
}
.head_search .pull-right-header {
	float: none;
	margin-bottom: 20px !important;
}
.cf4a {
	left: 22%;
}
}
 @media (min-width:480px) and (max-width:767px) {
.carousel-inner.text-center.center_slider .item .img_height_ctn {
	height: 290px !important;
}
}
 @media (min-width:980px) and (max-width:1200px) {
.registration_container {
	padding: 10px 90px;
}
.customer_registration {
	padding: 10px 90px;
}
.search_padding {
	padding: 42px 0 0;
}
.review_li {
	padding: 10px 0 0;
}
.navbar-header {
	float: right;
}
.search_padding {
	padding: 30px 0 0;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 100%;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: +5;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.padding_left {
	padding-left: 15px;
}
.padding_left_none {
	padding-left: 0px;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
}
 @media (min-width:640px) and (max-width:800px) {
.search_padding {
	padding: 35px 0 0;
}
.registration_container {
	padding: 46px 8px;
}
.customer_registration {
	padding: 10px 8px;
}
.review_li {
	padding: 10px 0 0;
}
.navbar-header {
	float: right;
}
.navbar-nav li a {
	padding-left: 10px;
	padding-right: 11px;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 200px;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: +5;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.padding_left_col {
	padding-left: 0px;
}
.footer_row {
	width: 45%!important;
}
.footor_row_2 {
	height: 390px;
}
.dashboard_right_col .scroll {
	overflow: scroll;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
.slider_bg_main {
	top: 0% !important;
	left: 0%;
}
.center_slider {
	margin-left: 24%;
}
.right_arrow {
	right: 0px !important;
}
.left_arrow {
	left: 0px !important;
}
.pull_rb {
	margin: 20px 0px 60px;
}
.duration {
	text-align: left;
}
.ctn {
	padding-right: 0px !important;
}
.navbar-toggle {
	margin-right: 0px;
}
.or_bg {
	padding: 5% 22%;
}
.head_search .pull-left-header {
	float: none;
}
.head_search .pull-right-header {
	float: none;
	margin-bottom: 20px !important;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
.tab_container {
	padding-left: 22px;
}
}
 @media (min-width:640px) and (max-width:767px) {
.cf4a {
	left: 22%;
}
}
@media (min-width:480px) and (max-width:768px) {
.registration_container {
	padding: 46px 8px;
}
.customer_registration {
	padding: 10px 8px;
}
.navbar-collapse {
	border: none;
	box-shadow: none;
}
.search_padding {
	padding: 10px 0 0 !important;
}
.pull-right {
	padding-right: 3%;
}
.navbar-form {
	box-shadow: none;
	float: left;
	margin: 0 0px;
	width: 68%;
}
.review_li {
	width: 100%;
	float: left;
	margin: 0px 20px 20px;
}
.navbar-collapse {
	width: 100%;
	float: left;
	margin: 0px 0px;
	overflow: hidden;
}
.logo {
	margin-top: 5px;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-header {
	float: right;
}
.navbar-brand img {
	width: 200px;
	position: absolute;
	left: 25px;
	top: 0px;
	z-index: +5;
	float: left;
}
.navbar-nav li {
	background: none;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.padding_left_col {
	padding-left: 0px;
}
.footer_row {
	width: 45%!important;
}
.footor_row_2 {
	height: 505px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: #9DDBF9 !important;
}
.dashboard_right_col .scroll {
	overflow: scroll;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
.slider_bg_main {
	top: 0% !important;
	left: 0%;
}
.center_slider {
	margin-left: 24%;
}
.right_arrow {
	right: 0px !important;
}
.left_arrow {
	left: 0px !important;
}
.pull_rb {
	margin: 20px 0px 60px;
}
.forgot_password {
	float: left !important;
	padding-top: 20px;
	text-align: left !important;
}
.list_container .form-group .col-sm-offset-2 {
	margin: 0px;
}
.duration {
	text-align: left;
}
.navbar-toggle {
	margin-right: 0px;
}
.or_bg {
	padding: 5% 25%;
}
.navbar-nav li.last a {
	padding-right: 25px !important;
}
.head_search .pull-left-header {
	float: none;
}
.head_search .pull-right-header {
	float: none;
	margin-bottom: 20px !important;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
.tab_container {
	padding-left: 22px;
}
}
@media (min-width:320px) and (max-width:480px) {
.registration_container {
	padding: 46px 8px;
}
.customer_registration {
	padding: 10px 8px;
}
.search_padding {
	padding: 2px 0 0;
}
.review_li {
	width: 100%;
	float: left;
	margin: 0px 20px 20px;
}
.navbar-collapse {
	width: 100%;
	float: left;
	margin: 0px 20px;
}
.navbar-form {
	box-shadow: none;
	float: left;
	margin: 0 0px;
	width: 65%;
}
.nav_border {
	border: none;
	box-shadow: none;
	overflow: hidden;
}
.forgot_password {
	float: left !important;
	padding-top: 20px;
	text-align: left !important;
}
.or_divider img {
	padding: 31px 12px;
}
.btn_search {
	font-size: 14px;
}
.logo {
	margin-top: 10px;
}
.footer_row_new {
	height: 480px !important;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 200px;
	position: absolute;
	left: 25px;
	top: 0px;
	z-index: +5;
	float: left;
}
.navbar-nav li {
	background: none;
}
.footer_row .footr_rowleft {
	float: left;
	width: 58%;
	margin-top: 10px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.right_arrow {
	right: 0px !important;
}
.left_arrow {
	left: 0px !important;
}
.pull_rb {
	margin: 20px 0px 60px;
}
.footer .col-md-2 {
	width: 48.666%;
}
.padding_left_col {
	padding-left: 0px;
}
.footer_row {
	width: 45%!important;
}
.hedding_tow {
	color: #000;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0;
	padding-top: 20px;
}
.footor_row_2 {
	height: 505px;
}
.inner_btn {
	font-size: 100%;
}
.navbar_goggle {
	margin-top: 5%;
}
/* FIRST BUT START*/
.slider_bg_main {
	top: 0% !important;
	left: 0%;
}
.center_slider {
	margin-left: 24%;
}
.margin_left_125 {
	width: 62%!important;
}
/* FIRST BUT END*/
ul.tab_navbar li.active a {
	padding: 22px 57px 23px;
	font-size: 17px;
}
ul.tab_navbar li.active a:hover {
	padding: 22px 57px 23px;
	font-size: 17px;
}
ul.tab_navbar li a {
	padding: 22px 54px 23px;
	font-size: 17px;
}
ul.tab_navbar li a:hover {
	padding: 22px 54px 23px;
	font-size: 17px;
}
.scroll {
	overflow: scroll;
}
ul.gallery_nav li.active a {
	font-size: 17px;
	padding: 22px 42% 23px;
}
ul.gallery_nav li.active a:hover {
	padding: 22px 42% 23px;
	font-size: 17px;
}
ul.gallery_nav li a {
	padding: 22px 43% 23px;
	font-size: 17px;
}
ul.gallery_nav li a:hover {
	padding: 22px 43% 23px;
	font-size: 17px;
}
.register_ctn {
	position: relative;
	right: 0px;
}
.customer_registration {
	padding: 5px;
}
#captcha-wrap img {
	width: 100%;
}
.nav > li > a:hover, .nav > li > a:focus {
	background: #9DDBF9 !important;
}
.dashboard_right_col .scroll {
	overflow: scroll;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
.navbar-toggle {
	margin-right: 0px;
}
.dashboard_right_col h2.hedding_h2 {
	font-size: 15px;
}
.list_container .form-group .col-sm-offset-2 {
	margin: 0px;
}
.duration {
	text-align: left;
}
img#refresh-captcha {
	width: auto;
}
img#captcha {
	width: auto !important;
}
.customer_registration {
	padding: 5px;
}
.right_td select.required {
	width: 140px;
}
.map_search {
	height: 275px !important;
}
ul.tab_navbar li {
	width: 100%;
}
.form_group_bg_2 {
	width: 100%;
	text-align: center;
}
ul.tab_navbar li.active a {
	text-align: center;
}
ul.tab_navbar li a {
	text-align: center;
}
.form_group_bg_2 a {
	float: none;
	text-align: center;
}
.ctn {
	padding-right: 0px !important;
}
.or_bg {
	padding: 5% 20%;
}
.navbar-nav li.last a {
	padding-right: 25px !important;
}
.head_search .pull-left-header {
	float: none;
}
.head_search .pull-right-header {
	float: none;
	margin-bottom: 20px !important;
}
.btn_new_btn {
	margin-right: 0px !important;
}
.btn_new_btn_1 {
	margin-left: 2%;
}
.list_container .from_lable {
	padding-left: 0;
}
.from_main_bg .padding_right {
	padding-left: 0;
}
.t_text {
	padding-left: 0;
}
.list_container .to_lable {
	text-align: left;
}
.list_container .to_lable {
	padding-left: 0;
}
.t_text .padding_right {
	padding-left: 0;
}
.search_header {
	padding-left: 45px;
	padding-right: 45px
}
.btn_search_in {
	padding-left: 30px;
	padding-right: 30px;
}
.cf4a {
	width: 77%;
	left: 14%;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
.tab_container {
	padding-left: 22px;
}
.font_size_16 {
	font-size: 14px!important;
}
}
@media (max-width:640px) {
.cf4a {
	left: 14%;
	width: 78%;
	top: 8%;
}
}
 @media (min-width:360px) and (max-width:640px) {
.navbar-form {
	width: 68%;
}
.navbar-brand {
	padding: 8px 0px 0px 0px;
}
.navbar-brand img {
	width: 200px;
	position: absolute;
	left: 25px;
	top: 0px;
	z-index: +5;
	float: left;
}
.navbar-nav li {
	background: none;
}
.navbar-nav {
	margin-bottom: 7.5px;
	margin-left: 0;
	margin-right: -15px;
	margin-top: 7.5px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.footer .col-md-2 {
	width: 40%;
}
.padding_left_col {
	padding-left: 0px;
}
.footer_row {
	width: 45%!important;
}
.hedding_tow {
	color: #000;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0;
	padding-top: 20px;
}
.footor_row_2 {
	height: 505px;
}
.navbar_goggle {
	margin-top: 3%;
}
.margin_left_125 {
	width: 67%!important;
}
.right_arrow {
	right: 0px !important;
}
.left_arrow {
	left: 0px !important;
}
.pull_rb {
	margin: 20px 0px 60px;
}
.customer_registration {
	padding: 5px;
}
.navbar-toggle {
	margin-right: 0px;
}
.ctn {
	padding-right: 0px !important;
}
.list_container .to_lable {
	text-align: left;
}
.t_text {
	padding-left: 0px;
}
.from_main_bg .padding_right {
	padding-left: 0px;
}
.t_text .padding_right {
	padding-left: 0px;
}
.btn_search btn_pay {
}
.btn_new_btn {
	margin-right: 0px !important;
}
.btn_new_btn_1 {
	margin-left: 2%;
}
.dashboard_right_col .scroll_2 {
	overflow: scroll;
}
.new_speceing {
	padding: 0px 0px 0px 0%;
}
.cf4a {
	left: 14%;
	width: 78%;
	top: 8%;
}
}
@media (min-width:280px) and (max-width:320px) {
.navbar-form {
	box-shadow: none;
	float: left;
	margin: 0 0px;
	width: 57%;
}
.btn_group_new {
	padding-right: 10px;
}
.nav_border {
	border: none;
	box-shadow: none;
	overflow-y: none;
	overflow: hidden;
	float: none !important;
}
.forgot_password {
	float: left !important;
	padding-top: 20px;
	text-align: left !important;
}
.or_divider img {
	padding: 31px 12px;
}
.btn_search {
	font-size: 13px;
}
.logo {
	margin-top: 25px;
}
.footer_row_new {
	height: 555px !important;
}
.navbar-nav li {
	background: none;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1;
	width: 100%;
}
.padding_left_col {
	padding-left: 0px;
}
.footer_row {
	width: 45%!important;
}
.hedding_tow {
	color: #000;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-left: 0%;
	padding-right: 0;
	padding-top: 20px;
}
.footor_row_2 {
	height: 505px;
}
.customer_registration {
	padding: 5px;
}
.font_size_16 {
	font-size: 14px;
}
.navbar-brand img {
	width: 200px;
	position: absolute;
	left: 25px;
	top: 0px;
	z-index: +5;
	float: left;
}
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
.win.chrome .footor_row_2 {
	height: 505px;
}
s  .mac.gecko .footor_row_2 {
	height: 505px;
}
}
textarea {
	resize: vertical;
}
/* FIRST BUT START*/

.padding_none {
	padding: 0px!important;
}
.line_bottom {
	padding-bottom: 20px;
	overflow: hidden;
}
.width_90 {
	width: 100px;
	float: left;
	font-weight: bold;
}
.margin_left_125 {
	width: 90%;
	float: right;
}
.group_one {
	border-bottom: 1px solid #cccccc;
	margin: 10px 0px;
}
/* FIRST BUT END*/

.p_theme {
	color: #042e6f;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-top: 40px;
	padding: 0px;
	font-weight: 700;
}
.span_theme {
	color: #F15922;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	margin-bottom: 30px;
	margin-left: -2px;
	margin-top: 0px;
	padding: 0px;
	font-weight: 700;
}
.slider_top_text {
}
.fluid_bg {
	background: linear-gradient(rgba(235, 235, 235, 0.9), rgba(290, 290, 290, 0.8));
}
.articles_new {
	margin: 0px 1.8% !important;
}
/*** CUSTOM SELECT BOX CSS STARTS***/
.select-wrapper {
	float: left;
	display: inline-block;
	border: 1px solid #b5b5b5;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(130, 130, 130, 0.3)), url(../images/dropdown.png) no-repeat right center;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	z-index: 99;
}
.select-wrapper, .select-wrapper select {
	width: 100%;
	line-height: 46px;
}
.select-wrapper:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(130, 130, 130, 0.3)), url(../images/dropdown.png) no-repeat right center;
}
.select-wrapper .holder {
	display: block;
	margin: 0 35px 0 10px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: -1;
}
.select-wrapper select {
	margin: 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	z-index: 99999999;
}
.recordtable th.header {
	background-image: url(../images/small.gif);
	cursor: pointer;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: center right;
	padding-left: 20px;
	border-right: 1px solid #dad9c7;
	margin-left: -1px;
	vertical-align: middle;
}
.recordtable th.headerSortUp {
	background-image: url(../images/asc.gif);
}
.recordtable th.headerSortDown {
	background-image: url(../images/desc.gif);
}
.logo_bottom_color {
	color: #f15922;
}
.font_size_16 {
	font-size: 16px;
}
/*             Added by Malcolm below             */

label.error {
	color: red;
	font-size: 14px !important;
	font-weight: bold !important;
}
.strike {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}
.strike > span {
	position: relative;
	display: inline-block;
}
.strike > span:before,  .strike > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 5px;
	background: #042E6F;
}
.strike > span:before {
	right: 100%;
	margin-right: 15px;
}
.strike > span:after {
	left: 100%;
	margin-left: 15px;
}
.p_find_theme {
	color: #042e6f;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
	margin-left: -2px;
	margin-top: 5px;
	padding: 0px;
	font-weight: 700;
}
.span_share_theme {
	color: #F15922;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	margin-bottom: 5px;
	margin-left: -2px;
	margin-top: 0px;
	padding: 0px;
	font-weight: 700;
}
.tab_table .table tbody tr:nth-child(4n+1) {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.child .table {
	margin-left: 1px;
}
.table {
	margin-top: 1px;
}