/*********** Responsive menu for all *****************/
@media (min-width:1200px){
    .right_nav{
     padding-left:15px;  
    }
    .logo {
        margin: 0px 0;
        transition: 0.3s;
    }
    .logo img{
    width: 162px;   
    }
    }
    @media (min-width:1600px){
    .container {
        max-width: 1540px;
    }
    .about_text p {
        font-size: 16px;
        margin: 17px 0;
        line-height: 32px;
    }
    .about_text a{
     font-size:16px;   
    }
    .about_text a i{
     font-size:16px;   
    }
    .pop_category_overlay{
     min-height:100px; 
    }
    .regions_inner_wrap .pop_category_overlay {
        min-height: 417px;
    }
    .video_img{
    height:168px; 
    }
    .video_img img{
     height:168px; 
    }
    .video_img .play_icon{
     height:168px;  
    }
    .top_rated_wrap .video_img {
        height: 215px;
    }
    .top_rated_wrap .video_img img {
        height: 215px;
    }
    .reviews_left_img img {
        height: 115px;
    }
    .popular_posts_wrap .video_img{
        height: 325px;
    }
    .popular_posts_wrap .video_img img {
        height: 325px;
    }
    .repeat_footer_wrap ul li a{
     font-size:13px;   
    }
    .repeat_footer_wrap ul li{
     padding-bottom:12px;   
    }
    .repeat_footer_wrap.right_footer p{
     font-size:13px;   
    }
    
    .repeat_footer_wrap.right_footer p span i {
        width:26px;
        font-size: 14px;
    }
    header{
     padding:4px 0;   
    }
    .slider_search{
    width:50%;     
    }
    .slider_content_inner h1{
    width:84%;
    margin:0 auto;  
    }
    }
    
    
    @media (max-width:1199px){
    .navication_wrap ul li a{
     font-size:13px;   
    }
    .button_wrap, .button_wrap:hover{
     font-size:13px;   
    }
    .navication_wrap ul li{
     padding:23px 8px;   
    }
    .slider_content_inner h1{
    font-size:37px;   
    }
    .slider_search input{
     font-size:14px;   
    }
    .pop_category_overlay h3{
     font-size:14px;   
    }
    .regions_inner_wrap .pop_category_overlay p{
     font-size:12px;   
    }
    .regions_inner_wrap .pop_category_overlay p{
     font-size:14px;   
    }
    .inner_section_heading{
     font-size:20px;   
    }
    .about_text p{
     font-size:12px;   
     line-height:21px; 
    }
    .top_rated_wrap .video_slide_content h3, .video_slide_content h3 {
        font-size: 13px;
    }
    .video_slide_content ul li{
     font-size:11px;   
    }
    .video_slide_content ul li i{
    font-size:6px;   
    }
    .video_slide_content ul li a, .video_slide_content ul li a:hover{
     font-size:11px;  
    }
    .video_location_wrap a{
    font-size:12px;   
    }
    .video_location_wrap a img {
        width: 11px !important;
        height: 15px !important;
        margin-right: 4px;
    }
    .video_review span i{
     font-size:11px;   
    }
    .review_count{
    font-size:11px;   
    }
    .regions_inner_wrap .pop_category_overlay h3{
    font-size:14px;   
    }
    .repeat_footer_wrap h3{
     font-size:12px;   
    }
    .repeat_footer_wrap ul li a{
     font-size:10px;   
    }
    .review_right_text p{
     font-size:12px;   
    }
    .reviews_left_img {
        width: 45%;
    }
    .reviews_left_img img {
        height: 75px;
    }
    .review_right_text{
    width:55%; 
    }
    .reviews_slide_wrap .video_slide_content p{
     font-size:12px;   
    }
    
    }
    
    @media (max-width:991px){
     .menu_content_holder{
      padding:5px;    
     }
     .menu_img {
        width: 150px;
        height: 97px;
        margin: 0 22px 0 0;
    }
    .menu_text h2{
     font-size:16px;     
    }
    .menu_text p {
        font-size: 12px;
        line-height: 16px;
    }
    .menu_text h3{
     font-size:13px;     
    }
    .main_pege_slider .item{
     height:auto;     
    }
    .slider_content_inner h1{
     font-size:30px;
     margin:0 0 5px;      
    }
    .navication_wrap ul li{
    padding:23px 3px;  
    }
    .button_wrap, .button_wrap:hover {
        font-size:11px;
        padding:8px 12px; 
    }
    .row .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19.666667%;
        flex: 0 0 32.666667%;
        max-width: 33.666667%;
        padding-right: 0px;
    }
    .navication_wrap ul li a {
        font-size: 11px;
    }
    .right_nav {
        padding-left: 15px;
    }
    .repeat_footer_wrap h3 {
        font-size: 10px;
    }
    .repeat_footer_wrap ul li a {
        font-size: 9px;
        line-height: 12px;
    }
    .repeat_footer_wrap.right_footer p{ 
    font-size:9px; 
    }
    .bottom_footer{
    font-size:11px;   
    }
    .logo_img_repeat{
    width:100px;   
    }
    .popular_posts_wrap .video_slide_content p{
    font-size:11px;
    line-height:18px;    
    }
    }
    
    
    
    @media screen and ( max-width:767px ) {
     .static_position{
      position:static;   
     }
     .navication_wrap{
        position: absolute;
        width: 100%;
        right:0;
        text-align:center; 
        background: linear-gradient(120deg, #f67f42 0%, #f6623f 100%);
       top:-400%;
       transition:0.3s; 
       z-index:55; 	
     }
      .navication_wrap.navication_wrap_open{
       top:80px; 	
      }
    
     .navication_wrap ul{
      margin:0px;
      padding:0px;    
     }
     .navication_wrap ul li {
        display: block;
        padding: 11px 10px;
    }
     .inner_section_heading:after{
      display:none;    
     }
     .inner_section_heading:before{
        left: 0 !important;
        bottom: -5px !important;
        width: 77px !important;
        right: 0 !important;
        margin: 0 auto !important; 
        top:auto !important;   
     }
    
    .menu_icon{
        font-size: 38px;
        text-align: right;
        color: #eb5e2c;
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        height: 80px;
    }
    .row .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 19.666667%;
        flex: 0 0 95.666667%;
        max-width: 95.666667%;
        padding-right: 0px;
    }
    .slider_search{
    width:100%;   
    }
    .slider_content_inner h1 {
        font-size: 17px;
        margin: 0 0 5px;
        line-height: 27px;
    }
    .slider_search{
     margin:10px auto 0;   
    }
    .navication_wrap ul li a {
        font-size: 13px;
        color: #fff;
    }
    .right_nav {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content:center; 
        align-items:center; 
    }
    .button_wrap, .button_wrap:hover{
     font-size:9px; 
    } 
    .regions_inner_wrap .pop_category_overlay {
        min-height: 600px;
    }
    .repeat_footer_wrap.float_list ul li{
    width:100%;
    float:none; 
    }
    .bottom_footer{
    display:block;
    text-align:center;    
    }
    .repeat_footer_wrap{
     margin:0 0 20px; 
     text-align:center;  
    }
    .logos_inner_wrap{
    display:block;
    text-align:center;    
    }
    .logo_img_repeat {
        width: 100px;
        margin: 12px auto;
        border: 0px;
    }
    .repeat_footer_wrap.right_footer p{
    display:block;   
    }
    .repeat_footer_wrap.right_footer p span i{
    display:inline-block;   
    }
    .copyright p{
    margin:5px 0px;
    display:block;    
    }
    .about_text{
    padding:15px 0 0;   
    }
    .wishlist_wrap em{
     top: -2px;
     font-size: 8px; 
     width: 14px;
     height: 14px;  
    }
    span.header_search{
    margin:1px 15px 0;
    font-size:14px;    
    }
    .wishlist_wrap{
     font-size:16px;    
    }
    }
    
    
    @media screen and ( max-width:480px ) {
    .slider_content_inner h1{
     font-size:12px;
     line-height:20px;   
    }
    .slider_search button{
     margin: 6px; 
    padding: 5px 18px;
    font-size:12px; 
    }
    .slider_search input{
     font-size:12px;
     padding:10px;   
    }
    }
    
    @media screen and ( max-width:350px ) {
    .menu_icon{
     font-size:23px;    
    }	
    }
    
    
    
    
    