body {
    font: 400 12px 'PT Sans Narrow', sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
    height: 100%
}
h1 {
    font-size: 19px;
    color: #333;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
a {
    color: #000000;
    text-decoration: none;
}
input, textarea, select {
    font: 11px 'PT Sans Narrow', sans-serif;
}
a:hover {
    text-decoration: underline;
}
textarea {
    border: 1px solid #B8B8B8;
    font-size: 11px;
    padding: 1px 0 2px 0;
    margin: 4px 0 4px 0;
}
.input {
    background-color: #FAFBFF;
    border: 0px solid #B8B8B8;
    font-size: 11px;
    padding: 1px 0 2px 0;
}
.textinput {
    border: 1px solid #B8B8B8;
    font-size: 11px;
    padding: 1px;
    color: #484848
}
.head {
    background: url(../img/head_gr.gif) repeat-x left top;
}
.lt_nav {
    background: url(../img/ver_gr.gif) repeat-x;
    border-right: 1px solid #000000;
}
.nav {
    background-color: #4B99E6
}
.nav a {
    padding: 5px 0 5px 17px;
    display: block;
    color: #FAFAFD;
    text-decoration: none !important;
    background: url(../img/sublink.gif) no-repeat 8px 10px;
    list-style: none;
    border-bottom: 1px solid #539FE8;
}
.nav a {
    padding: 5px 0 5px 17px;
    display: block;
    text-decoration: none !important;
    ;
    color: #FAFAFD;
    background: url(../img/sublink.gif) no-repeat 8px 10px;
    list-style: none;
    border-top: 1px solid #0453A1
}
.nav a:hover {
    background-color: #76C4F3;
    color: #000
}
.nav2 {
    background:#2567D6;

}
.idts_button {
    background:transparent url(../img/submit.gif) no-repeat scroll 0 0;
    border:0 none;
    height:24px;
    width:51px;
}
.nav2 a {
    padding: 5px 0 5px 17px;
    display: block;
    color: #000000;
    text-decoration: none !important;
    background: url(../img/bull.gif) no-repeat 10px 10px;
    list-style: none;
    border-bottom: 1px solid #2567D6;

}
.nav2 a {
    padding: 5px 0 5px 17px;
    display: block;
    text-decoration: none !important;
    color: #FFFFFF;
    background: url(../img/bull.gif) no-repeat 8px 10px;
    list-style: none;
    border-top: 1px solid #0453A1
}
.nav2 a:hover {
    background-color: #0707A7;
    color: #fff
}
.sublinks a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3F86CD;
    margin-right: 1px;
    padding: 4px 8px 4px 8px;
    line-height: 22px;
}
.sublinks a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #539FE8;
    margin-right: 1px;
    padding: 4px 8px 4px 8px;
    line-height: 22px;
}
.button {
    background-color: #3F86CD;
    border: 0px;
    color: #ffffff;
    padding: 2px 10px 1px 10px;
    font-size: 11px;
    cursor: hand;
}
.bgCol {
    background: url(img/login_box_rep.gif) repeat-x;
}
.fs15 {
    font: 16px "arial";
    color: #fff
}
.loginBg {
    background: url(../img/login_box_bkg.gif) repeat-x;
}
.whtBg {
    background-color: #fff !important
}
.strip {
    background: url(../img/strip.gif) repeat-x;
}
.marginleft {
    padding-left: 10px;
}
.r1 {
    background-color: #ECECEC
}
.r1 td {
    border-bottom: 1px solid #F2F2F2;
}
.r2 {
    background-color: #fff
}
.r2 td {
    border-bottom: 1px solid #fff;
}
.redCol {
    color: #ED1B23
}
.fs10 {
    font-size: 10px
}
h2 {
    margin: 0;
    padding: 0;
    font: bold 12px "verdana";
    color: #4B99E6
}
.bgBlk {
    background-color: #000
}
.topButtonOff {
    border: #f7f7f7 1px solid;
    width: 70px;
    height: 70px;
    background-color: #f7f7f7;
    text-align: center
}
.topButtonOn {
    border-right: #eeeeee 1px solid;
    border-top: #bbbbbb 1px solid;
    border-left: #bbbbbb 1px solid;
    width: 70px;
    border-bottom: #eeeeee 1px solid;
    height: 70px;
    background-color: #ffffff;
    text-align: center
}
.topMenuItemsDiv {
    filter: Shadow(Color=#909090, Direction=135)
}
.topMenuItems {
    border: #aaaaaa 1px solid;
    background-color: #ffffff
}
.topMenuItemOn {
    padding-left: 2px;
    font-weight: bold;
    font-size: 11px;
    color: white;
    height: 18px;
    background-color: #eeeeee
}
.topMenuItemOff {
    padding-left: 2px;
    font-weight: normal;
    font-size: 11px;
    color: black;
    height: 18px;
    background-color: #ffffff
}
.quickLinkOff {
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    color: black;
    font-family: Arial;
    height: 18px;
    background-color: #ffffff
}
.quickLinkOn {
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    cursor: pointer;
    color: black;
    font-family: Arial;
    height: 18px;
    background-color: #eeeeee
}
.quickLinkActiveOff {
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    height: 18px;
    background-color: #5186cd
}
.quickLinkActiveOn {
    padding-left: 0px;
    font-weight: normal;
    font-size: 10px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    height: 18px;
    background-color: #3166ad
}
.darkBrown {
    color: #433757
}
.divClas {
    z-index: 100000;
    visibility: hidden;
    position: absolute;
    left: 284px;
    top: 75px;
}
td {
    font: 11px "verdana"
}
.pad5 {
    padding: 0 8px 0 8px
}
.blu {
    color: #2567D6
}
.bdrTab {
    border: 1px solid #dadada;
    padding: 10px
}
.selected a {
    background-color: #75B2F0 !important;
    color: #fff !important
}

.ErrorBox
{
    width: 50%;
    border: 1px #000000 solid;
    background: rgb(255,255,153);
    text-align: left;
    padding: 3px;
    float: left;
}
.ErrorHead
{
    font-size: 13px;
    color: rgb(237,0,0);
    font-weight: bold;
}
.ErrorText
{
    padding-left: 12px;
}


/*********Paging css*******/
ul.tsc_pagination { margin:4px 0; padding:0px; overflow:hidden; font: 400 12px 'PT Sans Narrow', sans-serif; list-style-type:none; text-transform: uppercase; }
ul.tsc_pagination li { float:left; margin:0px; padding:0px; margin-left:5px; }
ul.tsc_pagination li:first-child { margin-left:0px; }
ul.tsc_pagination li a { color:black; display:block; text-decoration:none; padding:7px 10px 7px 10px; }
ul.tsc_pagination li a img { border:none; }
ul.tsc_paginationC li a { color:#fff; background:#4b99e6; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;  padding:5px 10px; }
ul.tsc_paginationC li { padding-bottom:1px; }
ul.tsc_paginationC li a:hover,
ul.tsc_paginationC li a.current { color:#FFFFFF; background: #2B5FA0; color:#fff;   }
ul.tsc_paginationC01 li a:hover,
ul.tsc_paginationC01 li a.current { color:#fff;  }
ul.tsc_paginationC li a.In-active {
    pointer-events: none;
    cursor: default;
}
label.error {
    clear: both;
    color: #FF0000;
    font-family: Tahoma,Arial;
    font-size: 13px;
    //    line-height: 15px;
    //    padding-top: 7px;
    //    text-align: right;
    //    margin:10px;
    //    width:100%;
}
.norecord{color:#ED1B23;text-align: center;}
.successForm {
    background-color: #E4FAE2;
    border: 1px solid #9BEC9E;
    padding: 15px;
    margin-left: 28px;
    margin-right: 30px;
}


table,tr,td{border-collapse: collapse; border:1px solid #ccc; text-align: left;}
th{font-family:'PT Sans Narrow', sans-serif; font-size:14px; font-weight:700; border:1px solid #ccc; padding:5px; background: #f3f3f3;}
td{font-family:'PT Sans Narrow', sans-serif; font-size:13px; padding:5px;}

.header_data{width:100%; min-height: 50px; padding:5px; 
             background: linear-gradient(left, #2E66A8 0%, #265190 100%);
             background:-moz-linear-gradient(left, #2E66A8 0%, #265190 100%);
             background:-ms-linear-gradient(left, #2E66A8 0%, #265190 100%);
             background:-webkit-linear-gradient(left, #2E66A8 0%, #265190 100%);
             background:-o-linear-gradient(left, #2E66A8 0%, #265190 100%);
             overflow: hidden;
}
.header_left_logo{float:left; width:200px;}
.header_right_welcome{float:right; width:265px; color:#fff; padding-top:25px; font: 400 16px 'PT Sans Narrow', sans-serif;}

.breadcrumb{overflow:hidden;}
.breadcrumb ul{margin:0px; padding: 0px; list-style-type: none;}
.breadcrumb ul li{margin:0px; padding: 0px; display: inline; text-transform: uppercase; color:#000;}
.breadcrumb ul li a{margin:0px; padding: 0px; list-style-type: none; text-decoration: none; font: 400 14px 'PT Sans Narrow', sans-serif; text-transform: uppercase;}

.dashboard_buttons{width:98%; float: right; ovreflow:hidden;}
.products {width:115px; height:158px; padding:5px; margin:5px; float:left; background:#f4f4f4; border:1px solid #e4e4e4; display:inilne; text-align: center;};
.products a{text-decoration: none;}


.send_btn{overflow:hidden; padding: 5px 10px;}
.send_btn a{color:#000; text-decoration: none; text-align: center; background: #DCDCDC; padding: 5px 10px; border-radius: 5px; }
.send_btn a:hover{background:#ccc;}
.errorForm{background-color: #fae2e3; border:1px solid #ec9b9b; padding:15px; margin-left:28px; margin-right:30px;}
input.submit_btn{font-size: 16px; font-weight: bold; color: #000000; padding:3px 10px; font-family: arial; cursor:pointer;}


a.creat_account_btn {background:#db0000; border:none; border-radius:4px; color:#fff; cursor:pointer; float:right; margin:55px 0 0;
                     padding: 13px 20px;}
input.creat_account_btn {background:#db0000; border:none; border-radius:4px; color:#fff; cursor:pointer; float:right; margin:55px 0 0;
                         padding: 13px 20px;}
a.grenn_btn {background:#0E9900; border:none; border-radius:4px; color:#fff; cursor:pointer; float:right; margin:55px 0 0;
             padding: 13px 20px;}

.loader-message{
    width:20%
}
.loader-message form{
    float:left;width:100%;
}
.loader-message .loading-img{
    float:left;
}
textarea {resize: vertical;}
#link{
    border: 2px solid rgb(22, 36, 194);
    padding: 3px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    /* background-color: graytext; */
    text-align: center;
}
